@import url('https://fonts.googleapis.com/css?family=Oswald');
*{
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    color:#fff; 
    font-size:14pt;
    margin:0;
}
h1,h2,h3,h4{
    font-weight: normal;
    font-family: 'Oswald', sans-serif;
    line-height: 1.2em;
    margin-top:0;
}
h2{
    font-size: 2.5em;
}
h2.title-chat{
    margin:40px 20px 20px;
    font-size:3em;
}
.main-container{
    height:100%;
     background: -moz-linear-gradient(45deg, rgba(177,208,53,0.9) 0%, rgba(94,186,68,0.9) 100%);
    background: -webkit-linear-gradient(45deg, rgba(177,208,53,0.9) 0%,rgba(94,186,68,0.9) 100%);
    background: linear-gradient(45deg, rgba(177,208,53,0.9) 0%,rgba(94,186,68,0.9) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6b1d035', endColorstr='#e65eba44',GradientType=1 );
}
.main-container #top-bar-container,
.main-container .row.row-time{
    display:none;
}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="js-input"]{
    width: 100%;
    padding:10px;
    border-radius:25px;
    border:2px solid #fff;
    outline: none;
    margin:10px 0;
    font-size: 1em;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="js-input"]:focus  {
    border:2px solid #F8CC46;
}
input[type="button"], button, .button{
        font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
    width: 100%;
    padding:8px;
    margin:5px 0;
    display: block;
    border-radius:25px;
    border:0;
    color:#fff;
    background: #f26e2b;
    line-height: 1em;
    background: #ef5724;
    background: -moz-linear-gradient(left, #ef5724 0%, #b51f2a 80%);
    background: -webkit-linear-gradient(left, #ef5724 0%,#b51f2a 80%);
    background: linear-gradient(to right, #ef5724 0%,#b51f2a 80%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef5724', endColorstr='#b51f2a',GradientType=1 );
}

.card-cta, .card-cta:last-child{
    border:0;
    color:#000;
    border-radius:20px;
    margin:4px 2px;
    color:#fff;
    background: #ef5724;
    font-family: 'Oswald', sans-serif;
}
input[type="button"]:hover, button:hover, .button:hover,
.choice-selector-holder .choice-selector-holder-inner .choice-button:hover{
    background-color: rgba(255, 156, 0, 0.8);
}
.choice-selector-select-holder .choice-selector-select{
    margin:0;
    padding-left:0;
    padding-right:0;
}

.choice-selector-select-holder{
    padding-left:15px;
    padding-right:15px;
}
.response-selected-choice{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Oswald', sans-serif;
    text-align: left;
    text-indent: 50px;
    padding-bottom: 15px;
}
.response-selected-choice:before{
    position: absolute;
    content: " ";
    width: 10px;
    height: 18px;
    border: 4px solid #F8CC46;
    border-top: 0px solid transparent;
    border-left: 0px solid transparent;
    transform: rotate(45deg);
    left: 25px;
}


#chat-container.bottom_bar_hidden{
    height:100%;
}
#chat-container.bottom_bar_hidden{
    height:60%;
}
#bottom-bar{
    transition: height .2s ease;
}
#bottom-bar.visible{
    height: 60%;
    width:100%;
    bottom: auto;
    top:80px;
    position: absolute;
    left: 0;
    padding: 25px;
    border-top: 1px dashed #fff;
}
#bottom-bar.hidden{
    height:0;
    width:100%;
    overflow:hidden;
}
#chat-container #bottom-bar{
    height:80px;
    transition:all .2s ease;
    padding-top:15px;
}

.message.cell p{
    margin:0;
    padding:5px 20px;
    font-size: 1.4em;
    font-family: 'Oswald', sans-serif;
}
.message.cell .from-me{
    font-size: 1.1em;
    margin:10px 0 15px;
}
.message.cell .from-them{
    font-size: .8em;
    height:100%;
    overflow: auto;
}
.message-container .row.row-message{
}
.message-container{
    height:0;
    width:100%;
    transform-origin: center;
    position: absolute;
    overflow: hidden;
}
.message-container:last-child{
    top:0;
    left:0;
    width:100%;
    height:100%;
    position:absolute;
}
.choice-selector-holder{
    max-height: calc(100% - 60px);
}
.choice-selector-holder .choice-selector-holder-inner .choice-button{
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
    width: 100%;
    padding:8px;
    margin:5px 0;
    display: block;
    border-radius:25px;
    border:0;
    color:#fff;
    background: #f26e2b;
    line-height: 1em;
}
.choice-submit-btn{
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
    width: 100%;
    padding:8px;
    margin:5px 0;
    display: block;
    border-radius:25px;
    border:0;
    color:#fff;
    padding:5px 15px;
    background: #ef5724;
    background: -moz-linear-gradient(left, #ef5724 0%, #b51f2a 80%);
    background: -webkit-linear-gradient(left, #ef5724 0%,#b51f2a 80%);
    background: linear-gradient(to right, #ef5724 0%,#b51f2a 80%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef5724', endColorstr='#b51f2a',GradientType=1 );
}
.choice-submit-btn span{
    line-height: 38px;
}
.card-selector{
    width:100%!important;
    margin:0 auto;
}
.card-image{
    height:182px;
    background-size: cover;
    border-radius: 20px;
    background-position: center;
}
.choice-scroll-shadow,
.card-scroll-shadow.right,
.card-scroll-shadow.left,
.choice-scroll-shadow.bottom{
    -webkit-box-shadow: -7px 0 32px 7px rgba(77,132,196,1);
    box-shadow: -7px 0 32px 7px rgba(177,208,53,1);
}
.card-option-container.white{
    border:0;
}
.js-smk-question_datetime{
    padding:15px;
}
#js-datepicker-container{
    left:0;
    top:40px;
    border:0;
    height:calc(100% - 40px);
    margin-top:0;
    background: -moz-linear-gradient(45deg, rgba(177,208,53,1) 0%, #006032 100%);
    background: -webkit-linear-gradient(45deg, rgba(177,208,53,1) 0%,#006032 100%);
    background: linear-gradient(45deg, rgba(177,208,53,1) 0%,#006032 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6b1d0', endColorstr='#006032',GradientType=1 );
}
.js-datepicker-btn{
    background-color:#fff;
    border-radius:25px;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    margin:4px;
}
.end-message{
    font-size: 1.4em;
    text-align: center;
    padding-top: 20px;
}